root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

[{*.min.js.map,.husky/.gitignore}]
insert_final_newline = false

[{graphics.svg,readme-title.svg}]
indent_size = unset
